<?xml version="1.0" encoding="UTF-8"?>

<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-3.1.xsd">
	<http>


		<intercept-url pattern="/home/**" access="ROLE_ADMIN,ROLE_USER" />
		<form-login login-page="/index.jsf"
			always-use-default-target="true" default-target-url="/home/index.jsf"
			authentication-failure-url="/index.jsf?login_error=1" />
		<logout logout-success-url="/index.jsf" />
		<remember-me />
	</http>

	<authentication-manager>
		<authentication-provider>
			<password-encoder hash="md5" />
			<jdbc-user-service data-source-ref="portalMerendaDataSource"
				authorities-by-username-query="SELECT 
													U.USERNAME, 
													R.NAME
												FROM 
													USERS U 
												INNER JOIN 
													USERS_RESOURCES UR ON (UR.PERSON_ID = U.PERSON_ID) 
												INNER JOIN 
													RESOURCES R ON (R.ID_RESOURCE = UR.RESOURCE_ID) 
												AND U.USERNAME = ?"
				users-by-username-query="SELECT USERNAME, PASSWORD, STATUS 
									   FROM USERS 
									  WHERE USERNAME = ?" />
		</authentication-provider>
	</authentication-manager>
</beans:beans>
